In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/sergegribo/Desktop/ML/git_hackaton/data/df_train.csv')

In [5]:
df[df['target'] == 1]

,user_id,nm_id,CreatedDate,service,total_ordered,PaymentType,IsPaid,count_items,unique_items,avg_unique_purchase,...,NmAge,Distance,DaysAfterRegistration,number_of_orders,number_of_ordered_items,mean_number_of_ordered_items,min_number_of_ordered_items,max_number_of_ordered_items,mean_percent_of_ordered_items,target
12,12,13,2024-11-23 14:04:16+03:00,ordo,364,CRD,True,8,7,0.87,...,152,3642,2197,5,1044,208.80,80,364,20.000000,1
13,13,14,2024-12-20 19:13:22+03:00,nnsz,355,CSH,False,9,9,1.00,...,20077,1990,326,5,728,145.60,1,355,20.000000,1
16,16,17,2024-12-18 18:15:33+03:00,nnsz,329,CSH,False,3,1,0.33,...,57,1021,420,5,383,76.60,1,329,20.000000,1
17,13,18,2024-12-20 18:58:17+03:00,nnsz,324,CSH,False,9,9,1.00,...,1037,1990,326,4,820,205.00,122,324,25.000000,1
18,17,19,2024-11-29 13:10:54+03:00,ordo,321,CRD,True,400,1,0.00,...,20056,812,1725,1,321,321.00,321,321,100.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105558,32802,36706,2024-12-11 07:20:43+03:00,ordo,1,CRD,True,4167,67,0.01,...,265,558,231,3,3,1.00,1,1,33.333333,1
105559,32802,36706,2024-12-11 07:17:42+03:00,ordo,1,CRD,True,4167,67,0.01,...,265,670,231,3,3,1.00,1,1,33.333333,1
105560,32802,36706,2024-12-11 07:12:36+03:00,ordo,1,CRD,True,4167,67,0.01,...,265,594,231,3,3,1.00,1,1,33.333333,1
105562,34018,23034,2024-10-29 20:18:05+03:00,nnsz,1,CSH,False,0,0,0.00,...,1820,941,1192,4,17,4.25,1,10,25.000000,1
105563,34018,23034,2024-10-29 20:17:04+03:00,nnsz,1,CSH,False,0,0,0.00,...,1820,941,1192,4,17,4.25,1,10,25.000000,1